html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

 .panel {
    box-shadow: 0 0 15px black;
    background-color: #565656;
    color: white;
 }

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin-bottom: 25px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 15px black;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    background-color: white;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
    background-color: #77817b;
}

.card-title {
    font-size: 1.55em;
    font-weight: 700;
    line-height: 1.6em;
    height: 40px;
    padding: 15px 10px 70px 10px;
    text-align: center;
    color: white;
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #565656;
    height: 3.7em !important;

}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}