{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/restaurants.css">
<div class="container">
	<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
	<div class="row">
		<div style="padding-top:25px;"> </div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default post-panel">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">All Restaurants</h1>
                        <div class="dropdown pull-right">
                          <a href="/restaurants/new">
                            <button class="btn btn-success" type="button">
                                <i class="fa fa-plus" aria-hidden="true"></i>Add New Restaurant
                            </button>
                          </a>
                        </div>
                    </span>
                    <br><br><hr>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>		
	</div>
	<div class="row">
	{% for r in restaurants %}
	    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
	        <div class="card">
                <div class="card-img-top">
                    <a href="/restaurants/{{r.id}}/menu">
                    <img src="https://image.flaticon.com/icons/svg/383/383660.svg">
                    <div class="card-title">
                        {{r.name}}
                    </div>
                    
                    </a>
                </div>                
	            <div class="card-footer row center-block">
                {% if user_id == r.user_id %}
	            	<div class="col-xs-6 text-left">
	                	<a href="/restaurants/{{r.id}}/edit" class="btn btn-info btn-sm btn-block">Edit</a>
	                </div>
	                <div class="col-xs-6 text-right"> 
	                	<a href="/restaurants/{{r.id}}/delete" class="btn btn-danger btn-sm btn-block">Delete</a>
	                </div>
                    {% endif %}
	            </div>                
	        </div>
	    </div>
	{% endfor %}		
	</div>
</div>
{% endblock %}